<p id="notice"><%= notice %></p>

<div>
	<h1><%= @recipe.name %></br><small><i><%= @recipe.author %>, <%= @recipe.category %></i></small></h1>	
	<p class="download-info">
	  <%= link_to('Edit Recipe', edit_recipe_path(@recipe), :class => 'btn btn-primary btn-large') %> 
	  <%= link_to('Remove', @recipe, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-large') %>	 	  	  
	</p>
</div>

<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>

<h3>Ingredients</h3>
<%= render @recipe.ingredients %>
</br>
<h3>Add Ingredients:</h3>
<%= render "ingredients/form" %>

<%= link_to 'Go back', recipes_path %> 

