
	<%= form_for([@recipe, @recipe.ingredients.build]) do |f| %>
	  <% if @recipe.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

		  <ul>
		  <% @recipe.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>
   <div class="row">
    <div class="span4 well">
	  <div class="field">
		<%= f.label 'Amount' %>
		<%= f.text_field :unit %>
	  </div>
	  <div class="field">
		<%= f.label :measure %>
		<%= f.collection_select :measure, Ingredient::MEASURE, :to_s, :to_s, :include_blank => false %>  
	  </div>
	  <div class="field">
		<%= f.label :description %>
		<%= f.text_field :description %>
	  </div>	  
	<%= f.submit "Add Ingredient", :class => 'btn btn-primary' %>
	  
	</div>
	</div>
	<% end %>
